<a href="https://colab.research.google.com/github/Jo9gi/PW-SKILLS-ASSIGNMENTS/blob/main/assignment2(String_Based_Practice_Questions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TOPIC: String Based Assignment Problem**

1. Write a program to reverse a string.

In [ ]:
string =input()
string1=string[::-1]
print("reversed string is ",string1)

2. Check if a string is a palindrome.

In [ ]:
string = input("input_string: ")
if string==string[::-1] :
  print("it is a palindrome")
else :
  print("not a palindrome")

3. Convert a string to uppercase.

In [ ]:
string = input("input_string: ")
string = string.upper()
print("The uppercase is",string)

4. Convert a string to lowercase.

In [ ]:
string = input("input_string: ")
string = string.lower()
print("The lowercase is",string)

5. Count the number of vowels in a string.

In [ ]:
string = input("input_string: ").lower()
vowel_count = 0
vowels = "aeiou"
for i in string :
  if i in vowels:
    vowel_count += 1
print("Total number of vowels in the string: ",vowel_count)

6. Count the number of consonants in a string.

In [ ]:
string = input("input_string: ").lower()
consonant_count = 0
vowels = "aeiou"
for i in string :
  if i not in vowels:
    consonant_count += 1
print("Total number of consonants in the string: ",consonant_count)

7. Remove all whitespaces from a string.

In [ ]:
string = input("input-string: ")
string = string.replace(" ","")
print("The removable white spaced string is",string)

8. Find the length of a string without using the `len()` function.

In [ ]:
string = input("given_string: ")
count = 0
for i in string :
  count+=1
print("The lenth of the string with out using len() is",count)

9. Check if a string contains a specific word.

In [ ]:
string = input("input_string: ").lower()
specified_word = input("specified_word: ").lower()
if specified_word in string :
  print("Available")
else :
  print("Not Available")

10. Replace a word in a string with another word.

In [ ]:
string = input("input_string: ")
string = string.replace(input('word_to_replace: '),input("replacement_word: "))
print("The repalceable word is -->",string)

11. Count the occurrences of a word in a string.

In [ ]:
string = input("Given-sentence: ")
string = string.count(input())
print("Count the occurrences of a word in a string is --. ",string)

12. Find the first occurrence of a word in a string

In [ ]:
string = input("Given_sentence: ")
string = string.find(input())
print("the first occurrence of a word in a string is",string)

13. Find the last occurrence of a word in a string.

In [ ]:
text = "This is a simple example, and this is the last example."
word_to_find = "and"

last_index = text.rfind(word_to_find)

if last_index != -1:
    print(f"The last occurrence of '{word_to_find}' is at index {last_index}")
else:
    print(f"'{word_to_find}' not found in the string.")

14. Split a string into a list of words

In [ ]:
text = input("given_sentence: ")
text = text.split()
print(text)

15. Join a list of words into a string.

In [ ]:
text = input("given_sentence: ")
text = text.split()
result_string = ' '.join(text)
print(result_string)

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
string = input("enter_the_text: ")
string = string.replace(" ","_")
print(string)

17. Check if a string starts with a specific word or phrase.

In [ ]:
string = input("enter_the_text: ")
phrase = input("Enter_the_specifiedword: ")

if string.startswith(phrase):
  print("string starts with a specific word")
else :
  print("string not starts with a specific word")

18. Check if a string ends with a specific word or phrase

In [ ]:
string = input("enter_the_text: ")
phrase = input("Enter_the_specifiedword: ")

if string.endswith(phrase):
  print("string ends with a specific word")
else :
  print("string not ends with a specific word")

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
string = input("enter_the_text: ")
string = string.title()
print(string)

20. Find the longest word in a string.

In [ ]:
sentence = input("enter the sentence: ")
Split = sentence.split()
longest_word = ""

for word in Split :
  word = word.strip(".,!?;")
  if len(word) > len(longest_word):
    longest_word = word
print("The longest word is-->",longest_word)

21. Find the shortest word in a string.

In [ ]:
sentence = input("enter the sentence: ")
Split = sentence.split()
shortest_word = None

for word in Split :
  word = word.strip(".,!?;")
  if shortest_word is None or len(word) < len(shortest_word):
    shortest_word = word
print("The shortest word is-->",shortest_word)

22. Reverse the order of words in a string.

In [ ]:
sentance = input("enter_the_sentance: ")
sentance = sentance.split()
reversed = ' '.join(sentance[::-1])
print('The reversed sentance is ->',reversed)

23. Check if a string is alphanumeric.

In [ ]:
sentance = input("enter_the_sentance: ")
if sentance.isalnum():
  print("The string is alphanumeric.")
else :
  print("The string is not alphanumeric.")

24. Extract all digits from a string

In [ ]:
string = input('enter the string: ')
result = ''
for char in string :
  if char.isdigit():
    result += char
print("extracted digits:",result)

25. Extract all alphabets from a string.

In [ ]:
string = input('enter the string: ')
result = ''
for char in string :
  if char.isalpha():
    result += char
print("extracted alphabets:",result)

26. Count the number of uppercase letters in a string.

In [ ]:
input = input("ENTER_THE_STRING: ")
result = 0
for char  in input :
  if char.isupper() :
    result += 1
print("count of upper case letters : ",result)

27. Count the number of lowercase letters in a string.

In [ ]:
input = input("ENTER_THE_STRING: ")
result = 0
for char  in input :
  if char.islower() :
    result += 1
print("count of upper case letters : ",result)

28. Swap the case of each character in a string

In [ ]:
def swap_case(input_string):
  string = input_string.swapcase()
  return string
original_string = "joGi NaIdU"
result = swap_case(original_string)
print(result)

29. Remove a specific word from a string.

In [ ]:
def input_1(input_string,target_word):
  words = input_string.split()

  words = [word for word in words if word != target_word]
  result_string = ''.join(words)
  return result_string
original_string = "Hello everyone, say Hello with me"
remove_word = "Hello"
result = input_1(original_string,remove_word)
print(result)

30. Check if a string is a valid email address

In [ ]:
import re
def is_valid_email(email):
    pattern = r'^\S+@\S+\.\S+$'
    return bool(re.match(pattern, email))

email_to_check = "example@email.com"
if is_valid_email(email_to_check):
    print(f"{email_to_check} is a valid email address.")
else:
    print(f"{email_to_check} is not a valid email address.")

31. Extract the username from an email address string.

In [ ]:
import re

def extract_username(email_address):
    pattern = r"^(.+?)@"
    match = re.search(pattern, email_address)
    if match:
        return match.group(1)
    else:
        return None

email_address = "joginaidu1025@gmail.com"
username = extract_username(email_address)
print(username)  # Output: johndoe

32. Extract the domain name from an email address string.

In [ ]:
import re

def extract_domainname(email_address):
  pattern = r"@(.*)$"
  match = re.search(pattern,email_address)
  if match :
    return match.group(1)
  else:
    return None
email_address = "joginaidu1025@gmial$com"
domain = extract_domainname(email_address)
print(domain)

gmial$com

33. Replace multiple spaces in a string with a single space.

In [ ]:
def remove_extra_spaces(string):
    return ' '.join(string.split())

input_string = "This    is a    sample                       string. It has multiple spaces."
output_string = remove_extra_spaces(input_string)

print("Original String:")
print(input_string)
print("\nString after removing extra spaces:")
print(output_string)

34. Check if a string is a valid URL

In [ ]:
from urllib.parse import urlparse

def valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
res_1 = valid_url(url1)
res_2 = valid_url(url2)
print(res_1)
print(res_2)

True
False

35. Extract the protocol (http or https) from a URL string.

In [ ]:
def extract_protocol(url):
  protocol_end = url.find("://")

  if protocol_end != -1:
    protocol = url[:protocol_end]
    return protocol
  else :
    return None
# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [ ]:
#36. Find the frequency of each character in a string.
string = 'joginaidu'
frequency_dict = {}

for char in string:
    if char in frequency_dict:
        frequency_dict[char] += 1
    else:
        frequency_dict[char] = 1

# Print the frequencies
for char, count in frequency_dict.items():
    print(f"The frequency of '{char}' is {count}")

print(frequency_dict)

The frequency of 'j' is 1
The frequency of 'o' is 1
The frequency of 'g' is 1
The frequency of 'i' is 2
The frequency of 'n' is 1
The frequency of 'a' is 1
The frequency of 'd' is 1
The frequency of 'u' is 1
{'j': 1, 'o': 1, 'g': 1, 'i': 2, 'n': 1, 'a': 1, 'd': 1, 'u': 1}

In [ ]:
#37. Remove all punctuation from a string.
string = "jogi!na?du, can you pleas'e me for t@hat."
pun = "!?%$@',."
result_string = "".join(num for num in string if num not in pun)
print(result_string)

joginadu can you please me for that

In [ ]:
#38. Check if a string contains only digits.
string = input("enter the digit")
if string.isdigit()==True :
  print("contain only digits")
else:
  print("include alphabets")

enter the digit1234
contain only digits

In [ ]:
#39. Check if a string contains only alphabets.
string = input("enter the digit")
if string.isalpha()==True :
  print("contain only alphabets")
else:
  print("contains not only alphabets")

enter the digitjogi!
contains not only alphabets

In [ ]:
#40. Convert a string to a list of characters.
input_string = "HelloWorld"
char_list = list(input_string)

print("String:", input_string)
print("List of characters:", char_list)

String: HelloWorld
List of characters: ['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [ ]:
#41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)


string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

Listen and Silent are anagrams.

In [ ]:
#42. Encode a string using a Caesar cipher.

def caesar_encode(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char_code = ord(char)
            if is_upper:
                encoded_char_code = (char_code - ord('A') + shift) % 26 + ord('A')
            else:
                encoded_char_code = (char_code - ord('a') + shift) % 26 + ord('a')
            encoded_text += chr(encoded_char_code)
        else:
            encoded_text += char
    return encoded_text

# Example usage
text = "Hello, world!"
shift = 3
encoded_text = caesar_encode(text, shift)
print(encoded_text)

Khoor, zruog!

In [ ]:
#  43. Decode a Caesar cipher encoded string.

def decode_caesar_cipher(encoded_text, shift):
    decoded_text = ""
    for char in encoded_text:
        if char.isalpha():
            is_upper = char.isupper()
            char_code = ord(char)
            if is_upper:
                decoded_char_code = (char_code - ord('A') - shift) % 26 + ord('A')
            else:
                decoded_char_code = (char_code - ord('a') - shift) % 26 + ord('a')
            decoded_text += chr(decoded_char_code)
        else:
            decoded_text += char
    return decoded_text

# Example usage
encoded_text = "Khoor, zruog!"
shift = 3
decoded_text = decode_caesar_cipher(encoded_text, shift)
print(decoded_text)

Hello, world!

In [ ]:
#44. Find the most frequent word in a string.
jogi = "This is a string with some repeated words. This is another repeated word."
hin = jogi.split(" ")
lite = {}

for i in hin:
  if i in lite:
    lite[i]+=1
  else:
    lite[i]=1
frequent_word = None
highest_count=0
for word,count in lite.items():
  if count > highest_count:
    highest_count = count
    frequent_word = word
print(f"the most frequent word is'{frequent_word}'")

the most frequent word is'This'

In [ ]:
#45. Find all unique words in a string.
string = "This is an example sentence. This sentence contains some words, and some words may repeat."
split = string.split()
unique_words = set(split)
print(unique_words)

In [ ]:
#46. Count the number of syllables in a string.

def count_syllables(word):
  count = 0
  vowels = "aeiouy"
  word = word.lower()
  if word:
    if word[0] in vowels:
      count += 1
    for i in range(1, len(word)):
      if word[i] in vowels and word[i-1] not in vowels:
        count += 1
  if word.endswith("e"):
    count -= 1
  if word.endswith("le"):
    count += 1
  return count

sentence = "This is an example sentence."
words = sentence.split()
total_syllables = 0
for word in words:
  total_syllables += count_syllables(word)

print(f"The sentence '{sentence}' has {total_syllables} syllables.")

The sentence 'This is an example sentence.' has 9 syllables.

In [ ]:
#47. Check if a string contains any special characters.
def special_char(string):
  special_ones = set("!@#$%&*'?./\|")
  for i in string:
    if i in special_ones:
      return True
  return False
string = "Check if a string contains any special characters"
contains_special = special_char(string)
if contains_special:
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string does not contain special characters.

In [ ]:
#48. Remove the nth word from a string.
string = "joginaidu pen is mine"
string = string.split()
n = int(input(f"enter the number less than {len(string)} is : "))
string.pop(n-1)
print(" ".join(string))

enter the number less than 4 is : 3
joginaidu pen mine

In [ ]:
#49. Insert a word at the nth position in a string.
string = "joginaidu pen is mine"
string = string.split()
n = int(input(f"enter the number less than {len(string)} is : "))
word = input("enter the word")
string.insert(n,word)
print(" ".join(string))

enter the number less than 4 is : 3
enter the wordworddd
joginaidu pen is worddd mine

In [ ]:
#50. Convert a CSV string to a list of lists.
import csv
jogi ="""name,age,city
John,25,New York
Alice,30,San Francisco
Bob,22,Los Angeles"""
csv_reader=csv.reader(jogi.splitlines())
csv_list = list(csv_reader)
print(csv_list)

[['name', 'age', 'city'], ['John', '25', 'New York'], ['Alice', '30', 'San Francisco'], ['Bob', '22', 'Los Angeles']]

# **List Based Practice Problem :**

In [ ]:
#1. Create a list with integers from 1 to 10.
lst = []
for i in range(1,11):
  lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of a list without using the `len()` function.
lst = [1,2,3,4,323,654,'123']
count =0
for i in lst:
  count+=1
print(count)

7

In [ ]:
#3. Append an element to the end of a list.
lst = [1,2,3,4,323,654]
kind = 33
lst.append(kind)
print(lst)

[1, 2, 3, 4, 323, 654, 33]

In [ ]:
#4. Insert an element at a specific index in a list.
lst = [1,2,3,4,323,654,'jogi',3.6]
lst.insert(3,23456)
print(lst)

[1, 2, 3, 23456, 4, 323, 654, 'jogi', 3.6]

In [ ]:
#5. Remove an element from a list by its value.
lst = [1,2,3,4,323,654,'jogi',3.6]
lst.remove(3)
print(lst)

[1, 2, 4, 323, 654, 'jogi', 3.6]

In [ ]:
#6. Remove an element from a list by its index.
lst = [1,2,3,4,323,654,'jogi',3.6]
lst.pop(5)
print(f"updaated_list:{lst}")

updaated_list:[1, 2, 3, 4, 323, 'jogi', 3.6]

In [ ]:
#7. Check if an element exists in a list.
lst = [1,2,3,4,323,654,'jogi',3.6]
exists = 1
if exists in lst:
  print(f"{exists} is exists in {lst}")
else:
  print(f"{exists} not exists in {lst}")

1 is exists in [1, 2, 3, 4, 323, 654, 'jogi', 3.6]

In [ ]:
#8. Find the index of the first occurrence of an element in a list.
lst = [1,2,3,4,3,323,1,654,'jogi',3.6]
element = 3
index = lst.index(element)
print(f"The index of {element} is {index}")

The index of 3 is 2

In [ ]:
#9. Count the occurrences of an element in a list.
lst = [1,2,3,4,3,323,1,654,'jogi',3.6]
element = 3
index_count = lst.count(element)
print(f"the count of {element} is {index_count}")

the count of 3 is 2

In [ ]:
#10. Reverse the order of elements in a list.
lst = [1,2,3,4,3,323,1,654,'jogi',3.6]
lst.reverse()
print("the reversed list is",lst)

the reversed list is [3.6, 'jogi', 654, 1, 323, 3, 4, 3, 2, 1]

In [ ]:
#11. Sort a list in ascending order.
lst = [1,2,3,4,3,323,1,654,3.6]
lst.sort()
print("the sorted list :\n",lst)

the sorted list :
 [1, 1, 2, 3, 3, 3.6, 4, 323, 654]

In [ ]:
#12. Sort a list in descending order.
lst = [1,2,3,4,3,323,1,654,3.6]
lst.sort(reverse = True)
print("the sorted list in descending order :\n",lst)

the sorted list in descending order :
 [654, 323, 4, 3.6, 3, 3, 2, 1, 1]

In [ ]:
#13. Create a list of even numbers from 1 to 20.
print([i for i in range(1,21) if i%2==0])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#14. Create a list of odd numbers from 1 to 20.
print([i for i in range(1,21) if i%2!=0])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15. Find the sum of all elements in a list.
lst = [1,2,3,4,3,323,1,654,36]
sum = 0
for i in lst:
  sum+=i
print(sum)

1027

In [ ]:
#16. Find the maximum value in a list.
lst = [1,2,3,4,3,323,1,654,36]
print(max(lst))

654

In [ ]:
#17. Find the minimum value in a list.
lst = [1,2,3,4,3,323,1,654,36]
print(min(lst))

1

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.
print([i**2 for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19. Create a list of random numbers.
import random
rand_num = [random.randint(1,100) for _ in range(10)]
print(rand_num)

[33, 37, 35, 14, 36, 31, 46, 2, 39, 91]

In [ ]:
#20. Remove duplicates from a list.
lst = [1,2,3,4,3,323,1,654,36]
unique_list = list(set(lst))
print(unique_list)

[1, 2, 323, 3, 4, 36, 654]

In [ ]:
#21. Find the common elements between two lists.
lst = [1,2,3,4,3,323,1,654,36]
lst1 = [2,4,23,43,3,1]
print([i for i in lst if i in lst1 ])

[1, 2, 3, 4, 3, 1]

In [ ]:
#22. Find the difference between two lists.
lst = [1,2,3,4,3,323,1,654,36]
lst1 = [2,4,23,43,3,1]
#print([i for i in lst if i not in lst1 ])
difference = list(set(lst).difference(lst1))
print(difference)

[323, 36, 654]

In [ ]:
#Merge two lists
lst = [1,2,3,4,3,323,1,654,36]
lst1 = [2,4,23,43,3,1]
merge = lst+lst1
print(merge)

[1, 2, 3, 4, 3, 323, 1, 654, 36, 2, 4, 23, 43, 3, 1]

In [ ]:
#24. Multiply all elements in a list by 2.
lst = [1,2,3,4,3,323,1,654,36]
print([i*2 for i in lst])

[2, 4, 6, 8, 6, 646, 2, 1308, 72]

In [ ]:
#25. Filter out all even numbers from a list.
lst = [1,2,3,4,3,323,1,654,36]
print("the odd numbers is ",[i for i in lst if i%2!=0])

the odd numbers is  [1, 3, 3, 323, 1]

In [ ]:
#26. Convert a list of strings to a list of integers.

   #the list which has integer strings only
lst = ['12','23','5','12','57']
print([int(i) for i in lst])

[12, 23, 5, 12, 57]

In [ ]:
#27. Convert a list of integers to a list of strings.
lst = [1,2,3,4,3,323,1,654,36]
print([str(i) for i in lst])

['1', '2', '3', '4', '3', '323', '1', '654', '36']

In [ ]:
#28. Flatten a nested list.
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

flattened_list = [item for sublist in nested_list for item in sublist]

print("Nested List:", nested_list)
print("Flattened List:", flattened_list)

Nested List: [[1, 2, 3], [4, 5], [6, 7, 8]]
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.
def fibnonacci_numbers(n):
  fib_list = [0,1]
  for i in range(2,n):
    next_fib = fib_list[i-1]+fib_list[i-2]
    fib_list.append(next_fib)
  return fib_list
print(fibnonacci_numbers(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#30. Check if a list is sorted.
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list = [1,2,3,4,3,323,1,654,36]
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is not sorted in ascending order.

In [ ]:
#31. Rotate a list to the left by `n` positions.
def rotation_list(lst,n):
  n = n % len(lst) #normalize
  rotated = lst[n:]+lst[:n]
  return rotated
lst = [1,3,6,5,4,3]
n=2
rotated_list = rotation_list(lst,n)
print("Rotated list:", rotated_list)

Rotated list: [6, 5, 4, 3, 1, 3]

In [ ]:
#32. Rotate a list to the right by `n` positions.
def rotation_list(lst,n):
  n = n % len(lst) #normalize
  rotated = lst[-n:]+lst[:-n]
  return rotated
lst = [1,3,6,5,3]
n=2
rotated_list = rotation_list(lst,n)
print("Rotated list:", rotated_list)

Rotated list: [5, 3, 1, 3, 6]

In [ ]:
#33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

    # Create a list of prime numbers up to 50
primes_up_to_50 = [num for num in range(2, 51) if is_prime(num)]

print("Prime Numbers up to 50:", primes_up_to_50)

Prime Numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#34. Split a list into chunks of size 'n'.
def split(lst,n):
  chunks=[]
  for i in range(0,len(lst),n):
    chunk = lst[i:i+n]
    chunks.append(chunk)
  return chunks

List = [1,2,3,4,5,4,5,4,3,2,6,34,7,3]
n = 5
result = split(List,n)
print(result)

In [ ]:
#35.Find the second largest number in a list.
def largest(listed):
  if len(listed) < 2 :
    return "List should have at least two numbers"

  sorted_list = sorted(listed,reverse=True)
  second_largest = sorted_list[1]
  return second_largest

my_list = [12,3,266,84,234,52,67,52]
result = largest(my_list)
print(result)

In [ ]:
#36.Replace every element in a list with its square.
def squar(listed):
  for i in range(len(listed)):
     listed[i] = listed[i] ** 2
listed1 = [1,3,4,6,8,2]
squar(listed1)
print(listed1)

In [ ]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['apple', 'banana', 'orange']

for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

In [ ]:
#38. Shuffle the elements of a list randomly.

import random

def shuffle_list(input_list):
    random.shuffle(input_list)

my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)

shuffle_list(my_list)
print("Shuffled List:", my_list)

Original List: [1, 2, 3, 4, 5]
Shuffled List: [5, 4, 1, 2, 3]

In [ ]:
#39.Create a list of the first 10 factorial numbers.
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n - 1)
factorials = []
for i in range(10):
    factorials.append(factorial(i))
print(factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
#40. Check if two lists have at least one element in common.
def common_element(lst1,lst2):
  for i in lst1 :
    if i in lst2 :
      return True
    else:
      return False
lst1=[1,5,3,6,2]
lst2=[11,43,66,43]
if common_element(lst1,lst2):
  print("two lists have a common element")
else:
  print("two lists doesn't have a common element")

two lists doesn't have a common element

In [ ]:
#41. Remove all elements from a list.
lst =[1,3,4,5,6,7]
lst1 = lst.clear()
print("cleared list:",lst1)

cleared list: None

In [ ]:
#42. Replace negative numbers in a list with 0.
lst = [1,-2,34,-6,1]
for i in range(len(lst)):
  if lst[i]<0:
    lst[i]=0
print("after replacing negative numbers with 0 in a list :\n",lst)

after replacing negative numbers with 0 in a list :
 [1, 0, 34, 0, 1]

In [ ]:
#43. Convert a string into a list of words.

string = "Convert a string into a list of words."
print("List of words:",string.split())

List of words: ['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words.']

In [ ]:
#44. Convert a list of words into a string.
lst = ['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words.']
print("convered string :",' '.join(lst))

convered string : Convert a string into a list of words.

In [ ]:
#45. Create a list of the first `n` powers of 2.
n=int(input("enter the number:"))
print([2**i for i in range(n)])

enter the number:5
[1, 2, 4, 8, 16]

In [ ]:
#46. Find the longest string in a list of strings.
lst = ['Conv', 'a', 'string', 'into', 'a', 'list', 'of', 'words.']
longest_one = ''
for i in lst :
  if len(i)>len(longest_one):
    longest_one = i
print(longest_one)

string

In [ ]:
#47. Find the shortest string in a list of strings.
lst = ['Conv', 'b','a', 'string', 'into', 'a', 'list', 'of', 'words.']
shortest_one = lst[0]
for i in lst :
  if len(i)<len(shortest_one):
    shortest_one = i
print(shortest_one)

b

In [ ]:
#48. Create a list of the first `n` triangular numbers.
n = int(input("enter the number:"))
print("the triangular numbers :",[(i*(i+1)//2) for i in range(n)])

enter the number:5
the triangular numbers : [0, 1, 3, 6, 10]

In [ ]:
#49. Check if a list contains another list as a subsequence.
lst = [1,3,5,[43,55,3]]
flag = False
for i in lst:
  if type(i) == list:
    flag = True
    break

if flag:
  print("contains subsequence")
else:
  print("not contains subsequence")

contains subsequence

In [ ]:
#50. Swap two elements in a list by their indices.
lst = [10,20,30,50,60]
ind1=0
ind2=3
temp =lst[ind1]
lst[ind1]=lst[ind2]
lst[ind2]=temp
print(lst)

[50, 20, 30, 10, 60]

# **Tuple Based Practice Problem :**

In [ ]:
#1. Create a tuple with integers from 1 to 5.
print("tuple with integers from 1 to 5 is :",tuple([i for i in range(1,6)]))

tuple with integers from 1 to 5 is : (1, 2, 3, 4, 5)

In [ ]:
#2. Access the third element of a tuple.
a = tuple([i for i in range(1,7)])
print("original_list:",a)
print("the third element of a tuple is ",a[2])

original_list: (1, 2, 3, 4, 5, 6)
the third element of a tuple is  3

In [ ]:
#3. Find the length of a tuple without using the `len()` function.
a = (1,2,3,4,577,43)
count = 0
for i in a:
  count+=1
print("the length of the tuple is ",count)

the length of the tuple is  6

In [ ]:
#4. Count the occurrences of an element in a tuple.
tup = (1,4,3,6,2,5,7,3,7,2,1)
element = 3
print(f"the occurrence of an {element} is ",tup.count(element))

the occurrence of an 3 is  2

In [ ]:
#5. Find the index of the first occurrence of an element in a tuple.
tup = (1,4,3,6,2,5,7,3,7,2,1)
element = 2
print(f"the index of the first occurrence of an {element} is ",tup.index(element))

the index of the first occurrence of an 2 is  4

In [ ]:
#6. Check if an element exists in a tuple.
def exists(tup,n):
  if n in tup:
    return True
  else:
    return False
tup = (1,3,6,8,2,56,2)
n = 56
if exists(tup,n):
  print("element exists in a tuple")
else:
  print("element not exists")

element exists in a tuple

In [ ]:
#7. Convert a tuple to a list.
tup=(1,2,3,4,5,6,32)
print("tuple : ",tup)
print("set : ",list(tup))

tuple :  (1, 2, 3, 4, 5, 6, 32)
set :  [1, 2, 3, 4, 5, 6, 32]

In [ ]:
#8. Convert a list to a tuple.
lst = [1,2,3,5,245,85]
tup = tuple(lst)
print("the list is ",lst)
print("the tuple is ",tup)

the list is  [1, 2, 3, 5, 245, 85]
the tuple is  (1, 2, 3, 5, 245, 85)

In [ ]:
#9. Unpack the elements of a tuple into variables.
tup = (1,2,3)
a,b,c = tup
print(f"a : {a}\nb : {b}\nc : {c}")

a : 1
b : 2
c : 3

In [ ]:
#10. Create a tuple of even numbers from 1 to 10.
print("tuple of even numbers from 1 to 10 is ",tuple([i for i in range(1,11) if i%2==0 ]))

tuple of even numbers from 1 to 10 is  (2, 4, 6, 8, 10)

In [ ]:
#11. Create a tuple of odd numbers from 1 to 10.
print("tuple of odd numbers from 1 to 10 is ",tuple([i for i in range(1,11) if i%2!=0 ]))

tuple of odd numbers from 1 to 10 is  (1, 3, 5, 7, 9)

In [ ]:
#12. Concatenate two tuples.
tup1 = (1,2,3)
tup2 = (4,5,6)
print("the concatination of tup1 and tup2 is ",tup1+tup2)

the concatination of tup1 and tup2 is  (1, 2, 3, 4, 5, 6)

In [ ]:
#13. Repeat a tuple three times.
tup = (1,2,3,4)
print("repeated tuple is ",tup*3)

repeated tuple is  (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#14. Check if a tuple is empty.
tup = (1,2,3,4)

if not tup :
  print("tuple is  empty")
else:
  print("tuple is not empty")

tuple is not empty

In [ ]:
#15. Create a nested tuple.
tup = (1,2,3,(2,7,10),(442,2))
print("the nested tuple is ",tup)

the nested tuple is  (1, 2, 3, (2, 7, 10), (442, 2))

In [ ]:
#16. Access the first element of a nested tuple.
tup = ((1,2),3,(2,7,10),(442,2))
print("the first element in tup is ",tup[0])

the first element in tup is  (1, 2)

In [ ]:
#17. Create a tuple with a single element.
tup = (1,)
print("Single element tuple:",tup)

Single element tuple: (1,)

In [ ]:
#18. Compare two tuples.

tuple1 = (1,34,2.4,23)
tuple2 = (54,2.4,11,54)
if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

if tuple1 < tuple2:
    print("tuple1 less than tuple2.")
else:
    print("tuple1 greater than tuple2.")

The tuples are not equal.
tuple1 less than tuple2.

In [ ]:
#19. Delete a tuple.
tuple_to_delete = (1, 34, 2.4, 23)

try:
    print("Tuple before deletion:", tuple_to_delete) # Output the tuple before deletion

    # Delete the tuple
    del tuple_to_delete

    # Attempting to print the tuple after deletion will raise an error
    print("Tuple after deletion:", tuple_to_delete)

except NameError:
    print("Tuple has been deleted and cannot be accessed.")

Tuple before deletion: (1, 34, 2.4, 23)
Tuple has been deleted and cannot be accessed.

In [ ]:
#20. Slice a tuple.
tup = (1,3,5,2,6,34,4.5)
print("the slice is:",tup[:-1:2])

the slice is: (1, 5, 6)

In [ ]:
#21. Find the maximum value in a tuple.
lst = (1,2,53,35)
print(max(lst))

53

In [ ]:
#22. Find the minimum value in a tuple.
lst = (1,2,53,35)
print(min(lst))

1

In [ ]:
#23. Convert a string to a tuple of characters.
string = "joginaidu"
tup =tuple([i for i in string])
print(tup)

('j', 'o', 'g', 'i', 'n', 'a', 'i', 'd', 'u')

In [ ]:
#24. Convert a tuple of characters to a string.
tup = ('j', 'o', 'g', 'i', 'n', 'a', 'i', 'd', 'u')
string = (''.join(list(tup)))
print(string)

joginaidu

In [ ]:
#25. Create a tuple from multiple data types.
tup = (1,2.4,"jogi",[1,24],("man","cat"))
print(tup)

(1, 2.4, 'jogi', [1, 24], ('man', 'cat'))

In [ ]:
#26. Check if two tuples are identical.
tup1 = (4,2,1)
tup2 = (4,2,1)
if tup1 == tup2 :
  print("two tuples are identical")
else:
  print("not identical")

two tuples are identical

In [ ]:
#27. Sort the elements of a tuple.
tup = (1,3,64,23,2,56,3.3)
lst = list(tup)
lst.sort()
print(tuple(lst))

(1, 2, 3, 3.3, 23, 56, 64)

In [ ]:
#28. Convert a tuple of integers to a tuple of strings.
tup = (1,2,3,4,5,6)
lst = []
for i in tup:
  lst.append(str(i))
print(tuple(lst))

('1', '2', '3', '4', '5', '6')

In [ ]:
#29. Convert a tuple of strings to a tuple of integers.
tup = ('1', '2', '3', '4', '5', '6')
lst = []
for i in tup:
  lst.append(int(i))
print(tuple(lst))

(1, 2, 3, 4, 5, 6)

In [ ]:
#30. Merge two tuples.
tup1 = (1,2,3)
tup2 = (4,5,6)
print("merge tup1 and tup2 is ",tup1+tup2)

merge tup1 and tup2 is  (1, 2, 3, 4, 5, 6)

In [ ]:
#31. Flatten a nested tuple.
tup = (1,9,(23,43,6),203,(20,4))
lst = []
for ele in tup:
  if isinstance(ele,tuple):
    for obj in ele:
      if isinstance(obj,tuple):
        lst.extend(obj)
      else:
        lst.append(obj)
  else:
    lst.append(ele)
result = tuple(lst)
print(result)

(1, 9, 23, 43, 6, 203, 20, 4)

In [ ]:
#32. Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [ ]:
#33. Check if a tuple is a palindrome.
def palindrome(tup):
  return tup == tup[::-1]
tup1 = [1,2,3,1,2]
tup2 = [1,2,3,4,5]

pal1 = palindrome(tup1)
pal2 = palindrome(tup2)
print("pal1 is a palindrome",pal1)
print("pal2 is a palindrome",pal2)

pal1 is a palindrome False
pal2 is a palindrome False

In [ ]:
#34. Create a tuple of squares of numbers from 1 to 5.
print(tuple([i**2 for i in range(1,6)]))

(1, 4, 9, 16, 25)

In [ ]:
#35. Filter out all even numbers from a tuple.
tup = (1,2,3,4,5,6)
tup1 = tup
lst = [i for i in tup1 if i%2==0]
print(tuple(lst))

(2, 4, 6)

In [ ]:
#36. Multiply all elements in a tuple by 2.

tup = (2,3,5,24,6)
tup = list(tup)
print(tuple([i*2 for i in tup]))

(4, 6, 10, 48, 12)

In [ ]:
#37. Create a tuple of random numbers.
import random
tup = tuple([random.randint(1,100) for _ in range(10)])
print(tup)

(84, 24, 84, 1, 2, 52, 47, 37, 29, 7)

In [ ]:
#38. Check if a tuple is sorted.

tup = (1,2,4,63,12,97,323)
lst = list(tup)
lst.sort()
if tuple(lst) == tup:
  print("tuple is sorted")
else:
  print("tuple is not sorted")

tuple is not sorted

In [ ]:
#39. Rotate a tuple to the left by `n` positions.
def rotation(tup,n):
  n = n%len(tup)
  rotated = tup[n:]+tup[:n]
  return tuple(rotated)

n = int(input("enter the input:"))
tup = list((1,2,4,36,55))
print(rotation(tup,n))

enter the input:2
(4, 36, 55, 1, 2)

In [ ]:
#40. Rotate a tuple to the right by `n` positions.
def rotation_right(tup,n):
  n = n%len(tup) #normalzaion
  rotated = tup[-n:]+tup[:-n]
  return tuple(rotated)

tup = list((2,66,3,2,78))
n = 2
print(rotation_right(tup,n))

(2, 78, 2, 66, 3)

In [ ]:
#41. Create a tuple of the first 5 Fibonacci numbers.

def fibnocci_num(n):
  fibnocci = [0,1]
  for i in fibnocci:
    if len(fibnocci) < n:
      fibnocci.append(fibnocci[-1]+fibnocci[-2])
  return tuple(fibnocci)
print(fibnocci_num(5))

(0, 1, 1, 2, 3)

In [ ]:
#42. Create a tuple from user input.
lst = input("enter the values")
print(tuple([i for i in lst.split()]))

enter the valuescreate a tuple from user input
('create', 'a', 'tuple', 'from', 'user', 'input')

In [ ]:
#43. Swap two elements in a tuple.

tup = (2,35,64,23,56)
lst = list(tup)
lst[2],lst[4] = lst[4],lst[2]
print(tuple(lst))

(2, 35, 56, 23, 64)

In [ ]:
#44. Reverse the elements of a tuple.
tup=(2,45,34,64,27)
lst = list(tup)
print(tuple(lst[::-1]))

(27, 64, 34, 45, 2)

In [ ]:
#45. Create a tuple of the first `n` powers of 2.
n= int(input("enter the value"))
print(tuple([2**i for i in range(n)]))

enter the value10
(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [ ]:
#46. Find the longest string in a tuple of strings.

tupl = "Find the longest string in a tuple of strings"
tup = tuple([i for i in tupl.split()])
string = ""
for i in tup:
  if isinstance(i,tuple):
    for j in i :
      if len(j) > len(string) :
        string = j
      else:
        pass
  else:
    if len(i)>len(string):
      string = i
print("the longest string in tupl is :",string)
print(tup)

the longest string in tupl is : longest
('Find', 'the', 'longest', 'string', 'in', 'a', 'tuple', 'of', 'strings')

In [ ]:
#47. Find the shortest string in a tuple of strings.
tupl = "Find the longest string in a tuple of strings"
tup = tuple([i for i in tupl.split()])
string = tup[0]
if isinstance(tup[0],tuple):
  string = tup[0][0]

else:
  string = tup [0]


for i in tup:
  if isinstance(i,tuple):
    for j in i:
      if len(j)<len(string):
        string = j
      else:
        pass
  else:
    if len(i)<len(string):
      string = i
print(f"the longest string is : {string}")

the longest string is : a

In [ ]:
#48. Create a tuple of the first `n` triangular numbers.
n = int(input("enter the number:"))
print("the triangular numbers is :",tuple([i*(i+1)//2 for i in range(n)]))

enter the number:5
the triangular numbers is : (0, 1, 3, 6, 10)

In [ ]:
#49. Check if a tuple contains another tuple as a subsequence.

tup = (1,2,4,6,3,(20,4,35),23,(24,56))
flag = True
for i in tup:
  if type(i)==tuple:
    flag = False
    break
if flag == False:
  print("contains another tuple as a subsequence")
else:
  print("not contains subsequence")

contains another tuple as a subsequence

In [ ]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n = int(input("enter the integer:"))
num = tuple([i%2 for i in range(1,n+1)])
print(num)

enter the integer:10
(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# **Set Based Practice Problem :**

In [ ]:
#1. Create a set with integers from 1 to 5.
print(set([i for i in range(1,6)]))

{1, 2, 3, 4, 5}

In [ ]:
#2. Add an element to a set.
set1 = {1,2,4,5,7,6}
set1.add(3)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#3. Remove an element from a set.
set1 = {1,53,78,24,4}
set1.remove(53)
print(set1)

{1, 4, 24, 78}

In [ ]:
#4. Check if an element exists in a set.
set1 = {2,5,2,7,94,3}
i = 5
if i in set1:
  print("element is exists")
else:
  print("not exists")

element is exists

In [ ]:
#5. Find the length of a set without using the `len()` function.
set1 = {1.3,5,2,2,20}
count = 0
for i in set1:
  count+=1
print("Length of the set:",count)

Length of the set: 4

In [ ]:
#6. Clear all elements from a set.
set1 = {1,3,6,3,24}
set1.clear()
print(f"the original_set : {set1}")
print(set1)

the original_set : set()
set()

In [ ]:
#7. Create a set of even numbers from 1 to 10.
print("the set of even numbers :",set([i for i in range(1,11) if i %2==0]))

the set of even numbers : {2, 4, 6, 8, 10}

In [ ]:
#7. Create a set of odd numbers from 1 to 10.
print("the set of odd numbers :",set([i for i in range(1,11) if i %2!=0]))

the set of odd numbers : {1, 3, 5, 7, 9}

In [ ]:
#9. Find the union of two sets.
set1 = {1,2,3,4}
set2 = {2,5,4,7}
print("the union of two sets is :",set1.union(set2))

the union of two sets is : {1, 2, 3, 4, 5, 7}

In [ ]:
#10. Find the intersection of two sets.
set1 = {1,2,3,4}
set2 = {2,5,4,7}
print("the intersection of two sets is :",set1.intersection(set2))

the union of two sets is : {2, 4}

In [ ]:
#11. Find the difference between two sets.
set1 = {1,2,3,4}
set2 = {2,5,4,7}
print("the difference of two sets is :",set1.difference(set2))

the difference of two sets is : {1, 3}

In [ ]:
#12. Check if a set is a subset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [ ]:
#13. Check if a set is a superset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set2.issuperset(set1)
print("Is set2 a superset of set1:", is_subset)

Is set2 a superset of set1: True

In [ ]:
#14. Create a set from a list.
lst = [1,2,3,4,5,6]
set1 = set(lst)
print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
#15. Convert a set to a list.
set1 = {1, 2, 3, 4, 5, 6}
lst = list(set1)
print(lst)

[1, 2, 3, 4, 5, 6]

In [ ]:
#16. Remove a random element from a set.
import random
set1 = {1,2,3,4,5,7}
random1 = random.choice(list(set1))
set1.remove(random1)
print(f"Updated set after removing {random1}:", set1)

Updated set after removing 5: {1, 2, 3, 4, 7}

In [ ]:
#17. Pop an element from a set.
set1 = {111,22,363,55,76}
set2 = set1.pop()
print(set2)

22

In [ ]:
#18. Check if two sets have no elements in common.
set1 = {12,35,22,56}
set2 = {2,34,122,36}
if set1.intersection(set2):
    print("common")
else:
    print("no common")

no common

In [ ]:
#19. Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2
print(symmetric_difference)

{1, 2, 3, 6, 7, 8}

In [ ]:
#20. Update a set with elements from another set.
set1 = {1,4,1,24,55}
set2 = {3,43,4,23}
set1.update(set2)
print(set1)

{1, 3, 4, 43, 23, 55, 24}

In [ ]:
#21. Create a set of the first 5 prime numbers.

def primes(n):
  if n<=1:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      return False
  return True
set1 = set()
n=2
while len(set1)<5:
  if primes(n):
    set1.add(n)
  n+=1
print(set1)

{2, 3, 5, 7, 11}

In [ ]:
#22. Check if two sets are identical.
set1 = {1,4,1,24,55}
set2 = {3,43,4,23}
if set1 == set2 :
  print("identical")
else:
  print("not identical")

not identical

In [ ]:
#23. Create a frozen set.
set1 = {1,2,5,6,2}
print(frozenset(set1))

frozenset({1, 2, 5, 6})

In [ ]:
#24. Check if a set is disjoint with another set.
set1 = {1,4,1,24,55}
set2 = {3,43,4,23}
dis_joint=set1.isdisjoint(set2)
print(dis_joint)

False

In [ ]:
#25. Create a set of squares of numbers from 1 to 5.
print(set([i**2 for i in range(1,6)]))

{1, 4, 9, 16, 25}

In [ ]:
#26. Filter out all even numbers from a set.
set1 = {1,2,56,3,7,8}
print({i for i in set1 if i%2 ==0})

{8, 2, 56}

In [ ]:
#27. Multiply all elements in a set by 2.
set1 = {1,2,56,3,7,8}
print({i*2 for i in set1})

{2, 4, 6, 14, 16, 112}

In [ ]:
#28. Create a set of random numbers.
import random
set1 = {random.randint(1,100) for _ in range(10)}
print(set1)

{67, 35, 8, 47, 49, 82, 50, 57, 92, 31}

In [ ]:
#29. Check if a set is empty.
set1 = {12,4,5}
if len(set1)==0:
  print("set is is empty")
else:
  print("set is not empty")

set is not empty

In [ ]:
#30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9})}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [1]:
#31. Remove an element from a set using the discard method.
set1 = {1,2,4,6,3,4}
set1.discard(6)
print(set1)

{1, 2, 3, 4}

In [4]:
#32. Compare two sets.
set1 = {1,2,4,6}
set2 = {4,6,7,3}
union=set1.union(set2)
intersection = set1.intersection(set2)
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
difference = set1.difference(set2)
print(f"union :{union}\nintersection :{intersection}\nis_subset :{is_subset}\nis_superset :{is_superset}\ndifference :{difference}")

union :{1, 2, 3, 4, 6, 7}
intersection :{4, 6}
is_subset :False
is_superset :False
difference :{1, 2}

In [7]:
#33. Create a set from a string.
string = "joginaidu"
list1 = set(list(string))
print(list1)

{'o', 'u', 'g', 'a', 'd', 'j', 'i', 'n'}

In [16]:
#34. Convert a set of strings to a set of integers.
set1 = {'1','2','3','6','7'}
set2 = list(set1)
lst = []
for i in set2:
  a = int(i)
  lst.append(a)
print(set(lst))

{1, 2, 3, 6, 7}

In [17]:
#35. Convert a set of integers to a set of strings.
set1 = {1, 2, 3, 6, 7}
set2 = list(set1)
lst = []
for i in set2:
  a = str(i)
  lst.append(a)
print(set(lst))

{'6', '3', '2', '7', '1'}

In [18]:
#36. Create a set from a tuple.
tup = (1,2,3,4,6)
print(set(tup))

{1, 2, 3, 4, 6}

In [19]:
#37. Convert a set to a tuple.
set1 = {1,2,3,5,6}
print(tuple(set1))

(1, 2, 3, 5, 6)

In [21]:
#38. Find the maximum value in a set.
set1 = {1,2,3,55,4,7}
print(max(set1))

55

In [22]:
#39. Find the minimum value in a set.
set1 = {1,2,3,55,4,7}
print(min(set1))

1

In [27]:
#40. Create a set from user input.
n = input("enter the elements:")
lst = list(n.split())
print(set(lst))

enter the elements:1 23  67
{'23', '67', '1'}

In [29]:
#41. Check if the intersection of two sets is empty.
set1 = {1,2,3,4,5}
set2 = {2,4,1,4,1}
if set1.intersection(set2):
  print("the intersection of two sets not empty")
else:
  print("the intersection of two sets is empty")

the intersection of two sets not empty

In [35]:
#42. Create a set of the first 5 Fibonacci numbers.
n = int(input("enter the number:"))
set1 = set()
a,b = 0,1
for _ in range(0,n+1):
  set1.add(a)
  a,b = b,a+b
print(set1)

enter the number:5
{0, 1, 2, 3, 5}

In [31]:
#43. Remove duplicates from a list using sets.
lst1 = [1,3,5,2,1,66,3,5]
print(list(set(lst1)))

[1, 66, 2, 3, 5]

In [41]:
#44. Check if two sets have the same elements, regardless of their count.
def same_elements(set1,set2):
  x = sorted(list(set1))
  y = sorted(list(set2))
  return x == y
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
flag = same_elements(set1,set2)

if flag:
  print("two sets have the same elements")
else:
  print("two sets have no same elements")

two sets have the same elements

In [46]:
#45. Create a set of the first `n` powers of 2.
s1 = set()
n = int(input("enter the value of n  : "))

for i in range(n):
  s1.add(2**i)

print(s1)

enter the value of n  : 5
{1, 2, 4, 8, 16}

In [47]:
#46. Find the common elements between a set and a list.
set1 = {1,2,4,6}
lst1 = [5,8,4,2]
result = []
for i in set1:
  if i in lst1 :
    result.append(i)
print(set(result))

{2, 4}

In [49]:
#47. Create a set of the first `n` triangular numbers.
n= int(input("enter the numbers:"))
triangular = set()
for i in range(0,n+1):
  trianglur1 = i*(i+1)//2
  triangular.add(trianglur1)
print(triangular)

enter the numbers:10
{0, 1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [51]:
#48. Check if a set contains another set as a subset.
set1 = {1,3}
set2 = {3,4,1,77,3}
jogi = set1.issubset(set2)
if jogi:
  print("set contains another set as a subset")
else:
  print("set doesn't contains another set as a subset")

set contains another set as a subset

In [55]:
#49. Create a set of alternating 1s and 0s of length `n`.
lst = []
n = int(input("enter the value"))
for i in range(0,n):

  if i %2 == 0:
    lst.append(1)
  else:
    lst.append(0)
print("the duplicate list",lst)
print(set(lst))

enter the value5
the duplicate list [1, 0, 1, 0, 1]
{0, 1}

In [57]:
#50. Merge multiple sets into one.
set1 = {1,2,3,4}
sert2 = {3,4,78,42}
set3 = {5,23,11,22}
merge = set1 | set2 | set3
print(merge)

{1, 2, 3, 4, 5, 11, 77, 22, 23}